<div class="navbar">
    <nav>
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="">
    </nav>
</div>

<div class="login-container">
    <div class="login-box">
      <h1 class="accedi">Accedi a Spotify</h1>
      <div class="linea"> </div>
      <form class="box">
        <div class="form-group">
          <label for="email">Indirizzo e-mail o nome utente</label>
          <input type="email" placeholder="Nome Utente" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" placeholder="Password" />
        </div>
        <button type="accedi" class="BtnLogin" routerLink="/Home">Accedi</button>
      </form>
      <div class="linea-sotto"> </div>
      <div class="iscriviti">
        Non hai un account? <a routerLink="/Registrati">Iscriviti a Spotify.</a>
      </div>
    </div>
  </div>