<div class="navbar-container">
    <div class="left-part">
        <div class="logo">
            <img src="https://m.media-amazon.com/images/I/51rttY7a+9L.png" alt="logo">
        </div>
    </div>
    <div class="center-part">
        <ul>
            <li>Home</li>
            <li >Naviga</li>
            <li>Playlist</li>
            <li routerLink="/Login" style="color: #1db954;"> Esci</li>
        </ul>
    </div>
    <div class="right-part">
        <img src="https://i.pinimg.com/474x/34/f4/e3/34f4e3d2c3f39d185f059ccd9672df11.jpg" alt="pfp">
    </div>
</div>

