<div class="trackplayer-container">
    <div class="left-part">
        <div class="track-cover">
            <img src="https://upload.wikimedia.org/wikipedia/en/0/0f/Lunga_vita_a_Sto_cover.jpg" alt="logo">
        </div>
        <div class="track-description-container">
            <div class="titolo">
                Cazzo Mene
                <span class="like-container">
                    <img src="../../assets/img/heart.svg" alt="logo">
                </span>
            </div>
            <div class="nome">
                Ghali
            </div>
        </div>

    </div>
    <div class="center-part">
        <div class="track-controls">
            <div class="BtnCasuale">
                <img src="../../assets/img/change.svg" alt="change logo">
            </div>
            <div class="BtnVecchiacanzone">
                <img src="../../assets/img/next.svg" alt="backwards logo">
            </div>
            <div class="BtnPausa">
                <img src="../../assets/img/play-button.svg" alt="play pause logo">
            </div>
            <div class="BtnProssimacanzone">
                <img src="../../assets/img/next.svg" alt="next logo" onclick="avanti()">
            </div>
            <div class="BtnRipeti">
                <img src="../../assets/img/repeat.svg" alt="repeat logo">
            </div>
        </div>
        <div class="track-bar">
            <div class="current-duration">00:00</div>
            <div class="duration-bar"></div>
            <div class="total-duration">04:30</div>
        </div>
    </div>
    <div class="right-part">
        <div class="volume-logo">
            <img src="../../assets/img/loudspeaker.svg" alt="volume logo">
        </div>
        <div class="volume-bar"></div>
    </div>
</div>